*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
@font-face {font-family: 'iconfont';
  src: url('../icon/iconfont.eot');
  src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../icon/iconfont.woff') format('woff'),
  url('../icon/iconfont.ttf') format('truetype'),
  url('../icon/iconfont.svg#iconfont') format('svg');
}
@mixin top{
  font-family:"iconfont" !important;
  font-size:17px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  line-height: 30px;
}
.header{
  width: 100%;
  height: 30px;
  background: #f1f1f1;
  .header-inner{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
    .inner-left{
      width: 95px;
      height: 28px;
      padding: 0 1px;
      float: left;
      cursor: default;
      border: 1px solid rgba(0,0,0,0);
      position: relative;
      &:hover{
        background: #fff;
        border-top:1px solid #DDDDDD;
        border-right:1px solid #DDDDDD;
        border-left:1px solid #DDDDDD;
        .aa{
          display: none;
        }
        .bb{
          display: block;
        }
        .none{
          display: block;
        }
      }
      .font{
        height: 30px;
        line-height: 30px;
        float: left;
        font-size: 12px;
        color: #666;
        font-weight: 400;
        padding: 0 6px;
      }
      .aa{
        @include top;
       }
      .bb{
        @include top;
        display: none;
      }
      .none{
        z-index: 23213423423;
        position: absolute;
        top:29px;left:-1px;
        width: 311px;
        height: 244px;
        border: 1px solid #ddd;
        display: none;
        background: #fff;
        .none-inner{
          width: 100%;
          height: 100%;
          padding: 10px 10px;
          .bj{
            font-size: 13px;
            color: #666;
            float: left;
            padding:10px 15px;
            cursor: pointer;
            &:hover{
              color: red;
              background: #F4F4F4;
            }
          }
          .se{
            background: #C81623;
          }
          .bj.se{
            color: #fff;
          }
        }
        .none-zezhao{
          width: 96px;
          height: 2px;
          background: #fff;
          margin-top:-1px;
        }
      }
    }
    .inner-right{
      width: auto;
      height: 30px;
      float: right;
      li{
        float: left;
        padding: 0 10px;
        line-height: 30px;
        font-size: 12px;
       a{
         display: block;
         height: 30px;
         color: #666;
         line-height: 30px;
         float: left;
         &:hover{
           color: #C81623;
         }
       }
      }
      li.red a{
        color: #C81623;
      }
      li.wdjd{
        height: 29px;
        border: 1px solid rgba(0,0,0,0);
        position: relative;
        box-sizing: border-box;
        &:hover{
          border-top:1px solid #DDDDDD;
          border-right:1px solid #DDDDDD;
          border-left:1px solid #DDDDDD;
          background: #fff;

          .aa{
            display: none;
            cursor: pointer;
          }
          .bb{
            display: block;
            cursor: pointer;
          }
          .none{
            display: block;
          }
        }

        .aa{
         @include top;
          float: left;
        }
        .bb{
          @include top;
          display: none;
          float: left;
        }
        .none{
          z-index: 324234543;
          background: #fff;
          width: 282px;
          height: 193px;
          border: 1px solid #ddd;
          position: absolute;
          top:29px;left: -1px;
          display: none;
          .none-zezhao{
            width: 85px;
            height: 2px;
            background: #fff;
            position: absolute;
            top:-2px;left: 0;
          }
          .none-inner{
            width: 100%;
            height: 100%;
            padding: 10px 10px;
            box-sizing: border-box;
            .inner-top{
              width: 100%;
              height: 70px;
              .img{
                width: 60px;
                height: 60px;
                border-radius:50%;
                background:url(../img/no-img_mid_.jpg);
                background-size: cover;
                float: left;
              }
              .img-inner{
                padding: 0 20px;
                float:left;
                .hai{
                  color: #666;
                  font-size: 12px;
                  cursor: pointer;
                  line-height: 35px;
                  font-weight: bold;
                  &:hover{
                    color: #C81623;
                  }
                }
                .xinxi{
                  clear: both;
                  width: 100px;
                  height: 30px;
                  line-height: 15px;
                  span{
                    color: #666666;
                    cursor: pointer;
                    &:hover{
                      color: #C81623;
                    }
                  }
                }


              }
            }
            .inner-bottom{
              clear: both;
               width: 100%;
               height: 105px;
              li{
                width: 100px;
                height: 100%;
                float: left;
                line-height:25px;
                color: #666666;
                &:hover{
                  color: #C81623;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      li.sjjd{
        border: 1px solid rgba(0,0,0,0);
        position: relative;
        &:hover{
          background: #fff;
          border-top: 1px solid #ddd;
          border-right: 1px solid #ddd;
          border-left: 1px solid #ddd ;
          box-sizing: border-box;
          .aa{
            display: none;
          }
          .bb{
            display: block;
          }
          .none{
            display: block;
          }
          .sj{
            color: red;
          }
        }
        .sj{
          @include top;
          float: left;
        }
        a{
          float: left;
          padding: 0 3px;
        }
        .aa{
          @include top;
          float: right;
        }
        .bb{
          @include top;
          display: none;
          float: right;
        }
        .none{
          z-index: 32423432;
          display: none;
          width: 252px;
          height: 198px;
          position: absolute;
          top:29px;
          left: -1px;
          border: 1px solid #ddd;
          background: url(../img/2016-09-27_182749.png);
          cursor: pointer;
          .zhezhao{
            width: 108px;
            height: 2px;
            background: #fff;
            position: absolute;
            top:-2px;
          }
        }
      }
      li.gyjd{
        position: relative;
        border: 1px solid rgba(0,0,0,0);
          &:hover{
            border-right: 1px solid #ddd;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            background: #fff;
            .aa{
              display: none;
            }
            .bb{
              display: block;
            }
            .none{
              display: block;
            }
          }
          .aa{
            @include top;

          }
          .bb{
            @include top;
            display: none;
            float: right;
          }
          .none{
            z-index: 4324353;
            cursor: pointer;
            display: none;
            position: absolute;
            top:30px;left: -1px;
            margin: auto;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-left: 1px solid #ddd;
            width: 100%;
            height: 108px;
            .none-inner{
              width: 100%;
              height: 100%;
              background: url(../img/2016-09-27_183537.png);
            }
          }
      }
      li.khfw{
        border: 1px solid rgba(0,0,0,0);
        position: relative;
        &:hover{
          background: #fff;
          border-right:1px solid #ddd ;
          border-left:1px solid #ddd ;
          border-top:1px solid #ddd ;
          .aa{
            display: none;
          }
          .bb{
            display: block;
          }
          .none{
            display: block;
          }
        }
        .aa{
          @include top;

        }
        .bb{
          float: right;
          @include top;
          display: none;
        }
        .none{
          z-index: 324432534534;
          display: none;
          position: absolute;
          top:29px;left: -1px;
          width: 172px;
          height: 190px;
          border: 1px solid #ddd;
          .zhezhao{
            position: absolute;
            left: 0;top:-2px;
            width: 85px;
            height: 2px;
            background: #fff;
          }
          .none-inner{
            cursor: pointer;
            width: 100%;
            height: 100%;
            background: url(../img/2016-09-27_194328.jpg);
          }
        }
      }
      li.wzdh{
        border: 1px solid rgba(0,0,0,0);
        position: relative;
        &:hover{
          background: #fff;
          border: 1px solid #ddd;
          border-bottom:1px solid rgba(0,0,0,0) ;
          .aa{
            display: none;
          }
          .bb{
            display: block;
          }
          .none{
            display: block;
          }
        }
        .aa{
          @include top;
        }
        .bb{
          @include top;
          float: right;
          display: none;
        }
        .none{
          z-index: 322423432;
          display: none;
          width: 1200px;
          height: 188px;
          border: 1px solid #ddd;
          position: absolute;
          top:29px;right: -1px;
          margin: auto;
          .zhezhao{
            width: 85px;
            height: 2px;
            background: #fff;
            position: absolute;
            top:-2px;right: 0;
          }
          .none-inner{
            width: 100%;
            height: 100%;
            background: url(../img/2016-09-27_195309.jpg);
          }
        }
      }
      div{
        float: left;
        line-height: 30px;
        color: #ddd;
      }
    }
  }
}
.search{
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  .logo{
    position: relative;
    left: 0;
    margin: auto;
    float: left;
    width: 362px;
    height: 100px;
    .logo-img{
      width: 362px;
      height: 60px;
      position: absolute;
      top:0;bottom:0;
      margin: auto;
      background: url(../img/logo.png)no-repeat;
    }
  }
  .search-inner{
    float: left;
    width: 538px;
    height: 100px;
    .search-button{
      margin-top:20px;
      input{
        width: 450px;
        height: 30px ;
        outline: none;
        border: 3px solid #B61D1D;
        color: #666;
        font-size: 14px;
        float: left;
      }
      .button{
        width: 82px;
        height: 36px;
        background: #B61D1D;
        float: left;
        text-align: center;
        line-height: 36px;
        font-size: 16px;
        font-family: "Microsoft YaHei";
        a{
          color: #fff;
        }
      }
    }
    .search-nav{
      margin-top:60px;
      width: 518px;
      height: 20px;
      li{
        float: left;
        line-height: 20px;
        font-size: 12px;
        a{
          color: #666;
          &:hover{
            color: #C81623;
          }
        }


      }
      span{
        float: left;
        padding: 0 8px;
        color: #CCCCCC;
        line-height: 20px;
      }
    }


  }
  .shopping{
    float:left;
    width:300px;
    height: 100px;
    .shopping-inner{
      margin-top:12px;
      margin-left:100px ;
      width: 150px;
      height: 50px;
      background: url(../img/2016-09-27_212311.jpg);
    }
  }
}
.nav{
  width: 100%;
  height: 44px;
  border-bottom: 2px solid #B1191A;
  .nav-inner{
    width: 1200px;
    height: 44px;
    margin: 0 auto;
    .nav-dt{
      float: left;
      width: 190px;
      height: 44px;
      padding: 0 10px;
      background: #B1191A;
      font: 400 15px/44px "microsoft yahei";
      a{
        color: #fff;
      }
    }
    .nav-dd{
      float: left;
      li{
        height: 44px;
        padding: 0 20px;
        text-align: center;
        font: 400 15px/44px "microsoft yahei";
        float: left;
        a{
          color: #333;
          &:hover{
            color: #C81623;
          }
        }
      }
    }
  }
}
.new{
  width: 1200px;
  height: 170px;
  margin: 0 auto;
  background: url(../img/2016-09-27_214302.jpg);
}
.crumbs{
  width: 1200px;
  height: 24px;
  line-height: 24px;
  color: #666;
  margin: 0 auto;
  margin-bottom: 10px;
  a{
    font-size: 18px;
    font-weight: 700;
    font-family: "microsoft yahei";
    float: left;
    margin-right: 5px;
    line-height: 24px;
    color: #666;
    &:hover{
      color: #C81623;
  }
  }
  span{
    float: left;
    font-size: 14px;
    color: #666;
    line-height: 24px;
  }
  .trigger{
    float: left;
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    border: 1px solid #ddd;
    line-height: 22px;
    vertical-align: top;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    &:hover{
      border: 1px solid #E4393C;
      border-bottom:1px solid rgba(0,0,0,0);
      .aa{
        display: none;
      }
      .bb{
        display: block;
      }
      .none{
        display: block;
      }
    }
    .aa{
      @include top;
      margin-left: 5px;
      float: left;
      line-height: 24px;
    }
    .bb{
      @include top;
      margin-left: 5px;
      display: none;
      float: right;
      line-height: 24px;
    }
    .none{
      display: none;
      width: 360px;
      height: 50px;
      border: 1px solid #E4393C;
      position: absolute;
      top:23px;left: -1px;
      margin: auto;
      background: #fff;
      .zhezhao{
        width: 98px;
        height: 2px;
        background: #fff;
        position: absolute;
        top:-2px;left: 0;
      }
      .zezhao{
        width: 70px;
        height: 2px;
        background: #fff;
        position: absolute;
        top:-2px;left: 0;
      }
      .none-inner{
        width: 100%;
        height: 100%;
        line-height: 50px;
        span{
         font-size: 14px;
          color: #666;
          line-height: 50px;
          padding-left: 10px;
          &:hover{
            color: #C81623;
          }
        }
      }

    }
  }
  .span{
    float: left;
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-left: 5px;
  }
}
.s-title{
  width: 1200px;
  height: 35px;
  margin: 0 auto;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  background: #F1F1F1;
  h3{
    line-height: 35px;
    float: left;
    padding-left: 10px;
    font-size: 1.17em;
    b{
      color: #e4393c;
      //margin-right: 5px;
      font-weight: bold;
    }
    em{
      font-style: normal;
    }
  }
  .text{
    float: left;
    padding-left: 20px;
    display: block;
    line-height: 35px;
    font-size: 12px;
    color: #666;
  }
}
.brand{
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px ;
  .baran-text{
    width: 118px;
    height: 99px;
    float: left;
    line-height: 30px;
    span{
      font: 12px/150% Arial,Verdana,"\5b8b\4f53";
      color: #666;
    }
  }
  .list{

    float: left;
    width: 928px;
    height: 99px;
    padding-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    li{
      cursor: pointer;
      box-sizing: border-box;
      float: left;
      width: 116px;
      height: 48px;
      padding: 0;
      border: 1px solid #DDD;
      margin: -1px -1px 0 0;
      background: #FFF;
      text-align: center;
      position: relative;
      font-size: 0;
      &:hover{
        border: 1px solid rgba(0,0,0,0);
        div{
          border: 2px solid #E4393C;
        }
        img{
          display: none;
        }
        span{
          display: block;
        }
      }
      div{
        width: 110px;
        height: 42px;
        border: 2px solid rgba(0,0,0,0);
        img{
          position: absolute;
          top: 0; left: 0; bottom: 0;
          right: 0;margin: auto;
        }
        span{
          text-align: center;
          line-height: 48px ;
          color: #E4393C;
          font-size: 15px;
          display: none;
        }
      }

    }
    li.hover{
      border: 1px solid rgba(0,0,0,0);
      div{
        border: 2px solid  #E4393C;
      }
    }
  }
  .thats{
    display: none;
    float: left;
    width: 928px;
    height: 99px;
    padding-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    li{
      cursor: pointer;
      box-sizing: border-box;
      float: left;
      width: 116px;
      height: 48px;
      padding: 0;
      border: 1px solid #DDD;
      margin: -1px -1px 0 0;
      background: #FFF;
      text-align: center;
      position: relative;
      font-size: 0;
      &:hover{
        border: 1px solid rgba(0,0,0,0);
        div{
          border: 2px solid #E4393C;
        }
        img{
          display: none;
        }
        span{
          display: block;
        }
      }
      div{
        width: 110px;
        height: 42px;
        border: 2px solid rgba(0,0,0,0);
        img{
          position: absolute;
          top: 0; left: 0; bottom: 0;
          right: 0;margin: auto;
        }
        span{
          text-align: center;
          line-height: 48px ;
          color: #E4393C;
          font-size: 15px;
          display: none;
        }
      }

    }
    li.hover{
      border: 1px solid rgba(0,0,0,0);
      div{
        border: 2px solid  #E4393C;
      }
    }
  }
  .button{
    float: right;
    width: 140px;
    height: 99px;
    margin-top: 10px;
    .gengduo{
      cursor: pointer;
      &:hover{
        span{
          color: #E4393C;
        }
        .gengduo-icon{
         border: 1px solid #E4393C;
        }
        .gengduo-icon .aa{
          animation: xia .4s ease;
          color: #E4393C;
        }

      }
      span{
       float: left;
        color: #333;
        font-size: 13px ;
        line-height: 30px;
      }
      .gengduo-icon{
        overflow: hidden;
        width: 22px;
        height: 22px;
        float:left;
        border: 1px solid #ddd;
        margin-left: 5px;
        text-align: center;
        .aa{
          display: block;
          width: 100%;
          height: 100%;
          @include top;
          line-height: 22px;
        }
        @keyframes xia {
           0%{
             transform: translateY(0);
           }
          50%{
            transform: translateY(15px);
          }
          100%{
            transform: translateY(0);
          }
        }

      }

    }
    .duoxuan{
      cursor: pointer;
      width: 40px;
      height: 22px;
      float: left;
      border: 1px solid #E1E1E1;
      background: #F8F8F8;
      margin-left: 20px;
      padding: 0 5px;
      overflow: hidden;
      &:hover{
        .jia{
          color: #E4393C;
          animation: shang .4s ease;
        }
        span{
          color: #E4393C;
        }
      }
      .jia{
        width: 16px;
        height: 22px;
        float: left;
        font-size: 22px;
        text-align: center;
        line-height: 22px;
      }
      span{
        float: right;
        font-size: 12px;
        line-height: 22px;
      }
      @keyframes shang {
          0%{
            transform: translateY(0);
          }
          50%{
            transform: translateY(16px);
          }
        100%{
          transform: translateY(0);
        }

      }
    }
    .yes{
      display: none;
    }

  }
}
.details{
  width: 1200px;
  height:auto;
  margin: 0 auto;
  margin-bottom: 10px;
  li{
    width: 100%;
    height: 34px;
    .title{
      width: 110px;
      height: 34px;
      float: left;
      padding: 0 10px;
      box-sizing: border-box;
      line-height: 37px;
      span{
        font-size: 13px;
        color: #666;
      }
    }
    ul{
      height: 34px;
      line-height: 34px;
      float: left;
      li{
        float: left;
        width: 100px;
        color: #005aa0;
        font-size: 12px;
        font-family: "微软雅黑";
      }
    }
    .gengduo{
      float: left;
      cursor: pointer;
      margin-top: 5px;
      margin-left: 55px;
      &:hover{
        span{
          color: #E4393C;
        }
        .gengduo-icon{
          border: 1px solid #E4393C;
        }
        .gengduo-icon .aa{
          animation: xia .4s ease;
          color: #E4393C;
        }

      }
      span{
        float: left;
        color: #333;
        font-size: 13px ;
        line-height: 30px;
      }
      .gengduo-icon{
        overflow: hidden;
        width: 22px;
        height: 22px;
        float:left;
        border: 1px solid #ddd;
        margin-left: 5px;
        text-align: center;
        .aa{
          display: block;
          width: 100%;
          height: 100%;
          @include top;
          line-height: 22px;
        }
        @keyframes xia {
          0%{
            transform: translateY(0);
          }
          50%{
            transform: translateY(15px);
          }
          100%{
            transform: translateY(0);
          }
        }

      }

    }
    .duoxuan{
      cursor: pointer;
      width: 40px;
      height: 22px;
      float: left;
      border: 1px solid #E1E1E1;
      background: #F8F8F8;
      float: right;
      margin-right: 10px;
      margin-top: 5px;
      overflow: hidden;
      padding: 0 6px;
      &:hover{
        .jia{
          color: #E4393C;
          animation: shang .4s ease;
        }
        span{
          color: #E4393C;
        }
      }
      .jia{
        width: 16px;
        height: 22px;
        float: left;
        font-size: 22px;
        text-align: center;
        line-height: 22px;
      }
      span{
        float: right;
        font-size: 12px;
        line-height: 22px;
      }
      @keyframes shang {
        0%{
          transform: translateY(0);
        }
        50%{
          transform: translateY(16px);
        }
        100%{
          transform: translateY(0);
        }

      }
    }
  }
  .jiage{
    border-bottom: 1px solid #DDDDDD;
    input{
      width: 42px;
      height: 21px;
      float: left;
      margin-left: 10px;
    }
    span{
      float: left;
      margin-left: 3px;
      color: #ccc;
    }
    button{
      margin-left: 10px;
      width: 46px;
      height: 23px;
      color: #666;
    }
  }
  .wanluo{
    border-bottom: 1px solid #DDDDDD;
  }
  .chicun{
    border-bottom: 1px solid #ddd;
  }
  .deng-box{
    border-top:1px solid #ddd;
    &:hover{
      border-top: 1px solid #E4393C;
      cursor: pointer;
     .deng{
       border: 1px solid #E4393C;
       span{
         color: #E4393C;
       }
       .aa{
         color: #E4393C;
       }
     }
    }
    .deng{
      width: 296px;
      height: 30px;
      margin: 0 auto;
      border: 1px solid #DDDDDD;
      position: relative;
      text-align: center;
      .zhezhao{
        position: absolute;
        top:-3px;left: 0;
        width: 296px;
        height: 3px;
        background: #fff;
      }
      span{
        line-height: 30px;
        color: #666;
        font-size: 12px;
      }
      .aa{
        @include top;
      }
    }
  }


}
.content{
  width: 1200px;
  height: 1881px;
  margin: 0 auto;
  margin-top: 15px;
  .ad{
    width: 210px;
    height: auto;
    border: 1px solid #ddd;
    float: left;
  }
  .content-box{
    float: right;
    width: 975px;
    height: auto;
    .content-top-one{
      width: 959px;
      height: 25px;
      background: #F1F1F1;
      padding: 6px 8px;
      border-bottom: 1px solid #E7E3E7;
      border-top: 1px solid #e7e3e7 ;
      .one-left{
        float: left;
        height: 100%;
        li{
          height: 100%;
          line-height: 25px;
          float: left;
          background: #fff;
          border: 1px solid #ccc;
          border-left: 1px solid rgba(0,0,0,0) ;
          padding: 0 5px;
          color: #333;
          font-size: 12px;
        }
        li.red{
          background: #E4393C;
          color: #ffffff;
        }
      }
      .one-right{
        float: right;
        padding: 0 10px;
        line-height: 25px;
         .tite{
           padding: 0 10px;
           float: left;
           color: #666;
           font-size: 12px;
           a{
             color: #E4393C;
           }
         }
        .left{
          cursor: pointer;
          float: left;
          width: 48px;
          height: 25px;
          background: #F1F1F1;
          border: 1px solid #ddd;
          color: #ccc;
          text-align: center;
          line-height: 25px;
        }
        .right{
          cursor: pointer;
          float: left;
          width: 48px;
          height: 25px;
          border: 1px solid #ddd;
          border-left: 1px solid rgba(0,0,0,0);
          color: #AAA;
          text-align: center;
          line-height: 25px;
          background: #fff;
        }

      }

    }
    .content-top-two{
      width: 959px;
      height: 30px;
      padding: 6px 8px;
      border-bottom: 1px solid #E7E3E7;
      background: #F9F9F9;
      zoom: 1;
      .tite{
        float: left;
        color: #999;
        line-height: 25px;
        margin-right: 5px;
        font-size: 12px;
      }
      .address{
        float: left;
        width: 126px;
        height: 25px;
        border: 1px solid #CCCCCC;
        font-size: 12px;
        text-align: center;
        color: #333;
        span{
          float: left;
          margin-left: 4px;
          line-height: 25px;
        }
        .aa{
          float: left;
          font-size: 30px;
          line-height: 25px;
          @include top;
        }
      }
      ul{
        float: left;
        li{
          float: left;
          padding: 0 10px;
          &:hover{
            .cheak{
              border: 1px solid #E4393C;
            }
            .span{
              color: #E4393C;
            }
          }
          .cheak{
            float: left;
            width: 14px;
            height: 14px;
            border: 1px solid #cccccc;
            margin-top: 5px;
          }
          .span{
            float: left;
            font-size: 12px;
            color: #333;
            line-height: 25px;
            padding: 0 5px;
          }
        }
      }
    }
    .content-inner{
      width: 100%;
      height: 1165px;
      margin-top: 20px;
      li{
        width: 240px;
        height: 430px;
        float: left;
        margin-top: 10px;
        border: 1px solid rgba(0,0,0,0);
        &:hover{
          border: 1px solid #EFEFEF;
          box-shadow: rgb(248,248,248)0px 0px 2px 2px;
        }
        img{
          margin-top: 10px;
        }
        .min-img{
          width: 25px;
          height: 25px;
          border: 2px solid #E4393C;
          margin-left: 10px;
          position: relative;
          img{
            width: 25px;
            height: 25px;
            position: absolute;
            top : 0; left: 0;right: 0;
            bottom: 0; margin: auto;
          }

        }
        span{
          display: block;
          font-style: normal;
          color: #e4393c;
          font-size: 20px;
          font-weight: 400;
          font-family: Verdana;
          text-align: -webkit-match-parent;
          line-height: 22px;
          margin-left: 10px;
          margin-top: 5px;
        }
        em{
          height: 20px;
          display: block;
          line-height: 20px;
          overflow: hidden;
          font-style: normal;
          color: #666;
          word-wrap: break-word;
          font-size: 13px;
          margin-left: 10px;
        }
        .chicun{
          width: 100%;
          height: 25px;
          position: relative;
          cursor: pointer;
          img{
            position: absolute;
            top: 0;left: 10px; bottom: 0;
            margin: auto;
          }
        }
        strong{
          color: #a7a7a7;
          font-weight: 400;
          font-size: 12px;
          margin-left: 10px;
         a{
           color: #005aa0;
           font-family: verdana;
           font-weight: 700;
           text-decoration: none;
           font-size: 12px;
          }
        }
        .shop{
          width: 100%;
          height: 28px;
          padding: 5px 10px;
          box-sizing: border-box;
          position: relative;
          a{
            color: #666;
            cursor: auto;
            line-height: 18px;
            font-size: 12px;
            float: left;
            padding-right: 5px ;
          }
          em{
            width: 54px;
            height: 18px;
            background: #E4393C;
            color: #fff;
            text-align: center;
            line-height: 18px;
            border-radius: 3px ;
            float: left;
          }
          img{
            position: absolute;
            top:0;bottom:0;
            right: 50px;
            margin: auto;
          }
        }
        .qianbao{
          width: 100px;
          height: 30px;
          position: relative;
          img{
            position: absolute;
            top:0;left: 10px;
            margin: auto;
          }
        }
      }
    }
  }
}

.footer-one{
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 30px 0;
}
.footer{
  width: 100%;
  height: auto;
  .footer-new{
    width: 1200px;
    height: 115px;
    background: url(../img/2Q==.jpg);
    margin: 0 auto;
  }
  .logen{
    width: 100%;
    height: 94px;
    background: #F5F5F5;
    margin-top: 10px ;
    .logen-inner{
      width: 1200px;
      height: 100%;
      margin: 0 auto;
      position: relative;
      li{
        width: 220px;
        height: 54px;
        float: left;
       padding: 0 40px;
        margin-top:20px ;
      }
      li:nth-child(1){
          background: url(../img/1.png)no-repeat;
        }
      li:nth-child(2){
        background: url(../img/2.png)no-repeat;
      }
      li:nth-child(3){
        background: url(../img/3.png)no-repeat;
      }
      li:nth-child(4){
        background: url(../img/4.png)no-repeat;
      }
    }
  }
  .serve{
    width: 1200px;
    height: 156px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom:10px ;
    border-bottom: 1px solid #E5E5E5;
    dl{
      width: 275px;
      float: left;
      font: 12px/150% Arial,Verdana,"\5b8b\4f53";
      color: #666;
      dt{
        padding: 6px 0;
        font-size: 15px;
        font-weight: bold;
          color: #666;
      }
      dd{
        color: #666;
        font-size: 12px;
        line-height: 20px;
        a{
        color: #666;
          &:hover{
            color: #C81623;
          }
      }
      }
    }
    dl.fore5{
      width: 100px;
      float: right;
    }
  }
  .link{
    padding: 23px 0;
    width: 1200px;
    height: 10px;
    margin: 0 auto;
    text-align: center;
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666;
    a{
      margin: 0 10px;
      color: #666;
      text-align: center;
      font: 12px/150% Arial,Verdana,"\5b8b\4f53";
      &:hover{
        color: #C81623;
      }
    }
  }
  .copyright{
    width: 1200px;
    height: 72px;
    margin: 0 auto;
    p{
      text-align: center;
      color: #666;
      font: 12px/150% Arial,Verdana,"\5b8b\4f53";
      padding: 2px 0;
    }
  }
  .footer-img{
    width: 1200px;
    height: 32px;
    margin: 0 auto;
    margin-top:30px;
    text-align: center;
  }
  .footer-kong{
    width: 100%;
    height: 30px;
  }
}
