@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

@font-face {
  font-family: 'iconfont';
  src: url("../icon/iconfont.eot");
  src: url("../icon/iconfont.eot?#iefix") format("embedded-opentype"), url("../icon/iconfont.woff") format("woff"), url("../icon/iconfont.ttf") format("truetype"), url("../icon/iconfont.svg#iconfont") format("svg"); }

.header {
  width: 100%;
  height: 30px;
  background: #f1f1f1; }
  .header .header-inner {
    width: 1200px;
    height: 30px;
    margin: 0 auto; }
    .header .header-inner .inner-left {
      width: 95px;
      height: 28px;
      padding: 0 1px;
      float: left;
      cursor: default;
      border: 1px solid transparent;
      position: relative; }
      .header .header-inner .inner-left:hover {
        background: #fff;
        border-top: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        border-left: 1px solid #DDDDDD; }
        .header .header-inner .inner-left:hover .aa {
          display: none; }
        .header .header-inner .inner-left:hover .bb {
          display: block; }
        .header .header-inner .inner-left:hover .none {
          display: block; }
      .header .header-inner .inner-left .font {
        height: 30px;
        line-height: 30px;
        float: left;
        font-size: 12px;
        color: #666;
        font-weight: 400;
        padding: 0 6px; }
      .header .header-inner .inner-left .aa {
        font-family: "iconfont" !important;
        font-size: 17px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        line-height: 30px; }
      .header .header-inner .inner-left .bb {
        font-family: "iconfont" !important;
        font-size: 17px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        line-height: 30px;
        display: none; }
      .header .header-inner .inner-left .none {
        z-index: 23213423423;
        position: absolute;
        top: 29px;
        left: -1px;
        width: 311px;
        height: 244px;
        border: 1px solid #ddd;
        display: none;
        background: #fff; }
        .header .header-inner .inner-left .none .none-inner {
          width: 100%;
          height: 100%;
          padding: 10px 10px; }
          .header .header-inner .inner-left .none .none-inner .bj {
            font-size: 13px;
            color: #666;
            float: left;
            padding: 10px 15px;
            cursor: pointer; }
            .header .header-inner .inner-left .none .none-inner .bj:hover {
              color: red;
              background: #F4F4F4; }
          .header .header-inner .inner-left .none .none-inner .se {
            background: #C81623; }
          .header .header-inner .inner-left .none .none-inner .bj.se {
            color: #fff; }
        .header .header-inner .inner-left .none .none-zezhao {
          width: 96px;
          height: 2px;
          background: #fff;
          margin-top: -1px; }
    .header .header-inner .inner-right {
      width: auto;
      height: 30px;
      float: right; }
      .header .header-inner .inner-right li {
        float: left;
        padding: 0 10px;
        line-height: 30px;
        font-size: 12px; }
        .header .header-inner .inner-right li a {
          display: block;
          height: 30px;
          color: #666;
          line-height: 30px;
          float: left; }
          .header .header-inner .inner-right li a:hover {
            color: #C81623; }
      .header .header-inner .inner-right li.red a {
        color: #C81623; }
      .header .header-inner .inner-right li.wdjd {
        height: 29px;
        border: 1px solid transparent;
        position: relative;
        box-sizing: border-box; }
        .header .header-inner .inner-right li.wdjd:hover {
          border-top: 1px solid #DDDDDD;
          border-right: 1px solid #DDDDDD;
          border-left: 1px solid #DDDDDD;
          background: #fff; }
          .header .header-inner .inner-right li.wdjd:hover .aa {
            display: none;
            cursor: pointer; }
          .header .header-inner .inner-right li.wdjd:hover .bb {
            display: block;
            cursor: pointer; }
          .header .header-inner .inner-right li.wdjd:hover .none {
            display: block; }
        .header .header-inner .inner-right li.wdjd .aa {
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px;
          float: left; }
        .header .header-inner .inner-right li.wdjd .bb {
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px;
          display: none;
          float: left; }
        .header .header-inner .inner-right li.wdjd .none {
          z-index: 324234543;
          background: #fff;
          width: 282px;
          height: 193px;
          border: 1px solid #ddd;
          position: absolute;
          top: 29px;
          left: -1px;
          display: none; }
          .header .header-inner .inner-right li.wdjd .none .none-zezhao {
            width: 85px;
            height: 2px;
            background: #fff;
            position: absolute;
            top: -2px;
            left: 0; }
          .header .header-inner .inner-right li.wdjd .none .none-inner {
            width: 100%;
            height: 100%;
            padding: 10px 10px;
            box-sizing: border-box; }
            .header .header-inner .inner-right li.wdjd .none .none-inner .inner-top {
              width: 100%;
              height: 70px; }
              .header .header-inner .inner-right li.wdjd .none .none-inner .inner-top .img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: url(../img/no-img_mid_.jpg);
                background-size: cover;
                float: left; }
              .header .header-inner .inner-right li.wdjd .none .none-inner .inner-top .img-inner {
                padding: 0 20px;
                float: left; }
                .header .header-inner .inner-right li.wdjd .none .none-inner .inner-top .img-inner .hai {
                  color: #666;
                  font-size: 12px;
                  cursor: pointer;
                  line-height: 35px;
                  font-weight: bold; }
                  .header .header-inner .inner-right li.wdjd .none .none-inner .inner-top .img-inner .hai:hover {
                    color: #C81623; }
                .header .header-inner .inner-right li.wdjd .none .none-inner .inner-top .img-inner .xinxi {
                  clear: both;
                  width: 100px;
                  height: 30px;
                  line-height: 15px; }
                  .header .header-inner .inner-right li.wdjd .none .none-inner .inner-top .img-inner .xinxi span {
                    color: #666666;
                    cursor: pointer; }
                    .header .header-inner .inner-right li.wdjd .none .none-inner .inner-top .img-inner .xinxi span:hover {
                      color: #C81623; }
            .header .header-inner .inner-right li.wdjd .none .none-inner .inner-bottom {
              clear: both;
              width: 100%;
              height: 105px; }
              .header .header-inner .inner-right li.wdjd .none .none-inner .inner-bottom li {
                width: 100px;
                height: 100%;
                float: left;
                line-height: 25px;
                color: #666666; }
                .header .header-inner .inner-right li.wdjd .none .none-inner .inner-bottom li:hover {
                  color: #C81623;
                  cursor: pointer; }
      .header .header-inner .inner-right li.sjjd {
        border: 1px solid transparent;
        position: relative; }
        .header .header-inner .inner-right li.sjjd:hover {
          background: #fff;
          border-top: 1px solid #ddd;
          border-right: 1px solid #ddd;
          border-left: 1px solid #ddd;
          box-sizing: border-box; }
          .header .header-inner .inner-right li.sjjd:hover .aa {
            display: none; }
          .header .header-inner .inner-right li.sjjd:hover .bb {
            display: block; }
          .header .header-inner .inner-right li.sjjd:hover .none {
            display: block; }
          .header .header-inner .inner-right li.sjjd:hover .sj {
            color: red; }
        .header .header-inner .inner-right li.sjjd .sj {
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px;
          float: left; }
        .header .header-inner .inner-right li.sjjd a {
          float: left;
          padding: 0 3px; }
        .header .header-inner .inner-right li.sjjd .aa {
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px;
          float: right; }
        .header .header-inner .inner-right li.sjjd .bb {
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px;
          display: none;
          float: right; }
        .header .header-inner .inner-right li.sjjd .none {
          z-index: 32423432;
          display: none;
          width: 252px;
          height: 198px;
          position: absolute;
          top: 29px;
          left: -1px;
          border: 1px solid #ddd;
          background: url(../img/2016-09-27_182749.png);
          cursor: pointer; }
          .header .header-inner .inner-right li.sjjd .none .zhezhao {
            width: 108px;
            height: 2px;
            background: #fff;
            position: absolute;
            top: -2px; }
      .header .header-inner .inner-right li.gyjd {
        position: relative;
        border: 1px solid transparent; }
        .header .header-inner .inner-right li.gyjd:hover {
          border-right: 1px solid #ddd;
          border-top: 1px solid #ddd;
          border-left: 1px solid #ddd;
          background: #fff; }
          .header .header-inner .inner-right li.gyjd:hover .aa {
            display: none; }
          .header .header-inner .inner-right li.gyjd:hover .bb {
            display: block; }
          .header .header-inner .inner-right li.gyjd:hover .none {
            display: block; }
        .header .header-inner .inner-right li.gyjd .aa {
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px; }
        .header .header-inner .inner-right li.gyjd .bb {
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px;
          display: none;
          float: right; }
        .header .header-inner .inner-right li.gyjd .none {
          z-index: 4324353;
          cursor: pointer;
          display: none;
          position: absolute;
          top: 30px;
          left: -1px;
          margin: auto;
          border-right: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          border-left: 1px solid #ddd;
          width: 100%;
          height: 108px; }
          .header .header-inner .inner-right li.gyjd .none .none-inner {
            width: 100%;
            height: 100%;
            background: url(../img/2016-09-27_183537.png); }
      .header .header-inner .inner-right li.khfw {
        border: 1px solid transparent;
        position: relative; }
        .header .header-inner .inner-right li.khfw:hover {
          background: #fff;
          border-right: 1px solid #ddd;
          border-left: 1px solid #ddd;
          border-top: 1px solid #ddd; }
          .header .header-inner .inner-right li.khfw:hover .aa {
            display: none; }
          .header .header-inner .inner-right li.khfw:hover .bb {
            display: block; }
          .header .header-inner .inner-right li.khfw:hover .none {
            display: block; }
        .header .header-inner .inner-right li.khfw .aa {
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px; }
        .header .header-inner .inner-right li.khfw .bb {
          float: right;
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px;
          display: none; }
        .header .header-inner .inner-right li.khfw .none {
          z-index: 324432534534;
          display: none;
          position: absolute;
          top: 29px;
          left: -1px;
          width: 172px;
          height: 190px;
          border: 1px solid #ddd; }
          .header .header-inner .inner-right li.khfw .none .zhezhao {
            position: absolute;
            left: 0;
            top: -2px;
            width: 85px;
            height: 2px;
            background: #fff; }
          .header .header-inner .inner-right li.khfw .none .none-inner {
            cursor: pointer;
            width: 100%;
            height: 100%;
            background: url(../img/2016-09-27_194328.jpg); }
      .header .header-inner .inner-right li.wzdh {
        border: 1px solid transparent;
        position: relative; }
        .header .header-inner .inner-right li.wzdh:hover {
          background: #fff;
          border: 1px solid #ddd;
          border-bottom: 1px solid transparent; }
          .header .header-inner .inner-right li.wzdh:hover .aa {
            display: none; }
          .header .header-inner .inner-right li.wzdh:hover .bb {
            display: block; }
          .header .header-inner .inner-right li.wzdh:hover .none {
            display: block; }
        .header .header-inner .inner-right li.wzdh .aa {
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px; }
        .header .header-inner .inner-right li.wzdh .bb {
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px;
          float: right;
          display: none; }
        .header .header-inner .inner-right li.wzdh .none {
          z-index: 322423432;
          display: none;
          width: 1200px;
          height: 188px;
          border: 1px solid #ddd;
          position: absolute;
          top: 29px;
          right: -1px;
          margin: auto; }
          .header .header-inner .inner-right li.wzdh .none .zhezhao {
            width: 85px;
            height: 2px;
            background: #fff;
            position: absolute;
            top: -2px;
            right: 0; }
          .header .header-inner .inner-right li.wzdh .none .none-inner {
            width: 100%;
            height: 100%;
            background: url(../img/2016-09-27_195309.jpg); }
      .header .header-inner .inner-right div {
        float: left;
        line-height: 30px;
        color: #ddd; }

.search {
  width: 1200px;
  height: 100px;
  margin: 0 auto; }
  .search .logo {
    position: relative;
    left: 0;
    margin: auto;
    float: left;
    width: 362px;
    height: 100px; }
    .search .logo .logo-img {
      width: 362px;
      height: 60px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: url(../img/logo.png) no-repeat; }
  .search .search-inner {
    float: left;
    width: 538px;
    height: 100px; }
    .search .search-inner .search-button {
      margin-top: 20px; }
      .search .search-inner .search-button input {
        width: 450px;
        height: 30px;
        outline: none;
        border: 3px solid #B61D1D;
        color: #666;
        font-size: 14px;
        float: left; }
      .search .search-inner .search-button .button {
        width: 82px;
        height: 36px;
        background: #B61D1D;
        float: left;
        text-align: center;
        line-height: 36px;
        font-size: 16px;
        font-family: "Microsoft YaHei"; }
        .search .search-inner .search-button .button a {
          color: #fff; }
    .search .search-inner .search-nav {
      margin-top: 60px;
      width: 518px;
      height: 20px; }
      .search .search-inner .search-nav li {
        float: left;
        line-height: 20px;
        font-size: 12px; }
        .search .search-inner .search-nav li a {
          color: #666; }
          .search .search-inner .search-nav li a:hover {
            color: #C81623; }
      .search .search-inner .search-nav span {
        float: left;
        padding: 0 8px;
        color: #CCCCCC;
        line-height: 20px; }
  .search .shopping {
    float: left;
    width: 300px;
    height: 100px; }
    .search .shopping .shopping-inner {
      margin-top: 12px;
      margin-left: 100px;
      width: 150px;
      height: 50px;
      background: url(../img/2016-09-27_212311.jpg); }

.nav {
  width: 100%;
  height: 44px;
  border-bottom: 2px solid #B1191A; }
  .nav .nav-inner {
    width: 1200px;
    height: 44px;
    margin: 0 auto; }
    .nav .nav-inner .nav-dt {
      float: left;
      width: 190px;
      height: 44px;
      padding: 0 10px;
      background: #B1191A;
      font: 400 15px/44px "microsoft yahei"; }
      .nav .nav-inner .nav-dt a {
        color: #fff; }
    .nav .nav-inner .nav-dd {
      float: left; }
      .nav .nav-inner .nav-dd li {
        height: 44px;
        padding: 0 20px;
        text-align: center;
        font: 400 15px/44px "microsoft yahei";
        float: left; }
        .nav .nav-inner .nav-dd li a {
          color: #333; }
          .nav .nav-inner .nav-dd li a:hover {
            color: #C81623; }

.new {
  width: 1200px;
  height: 170px;
  margin: 0 auto;
  background: url(../img/2016-09-27_214302.jpg); }

.crumbs {
  width: 1200px;
  height: 24px;
  line-height: 24px;
  color: #666;
  margin: 0 auto;
  margin-bottom: 10px; }
  .crumbs a {
    font-size: 18px;
    font-weight: 700;
    font-family: "microsoft yahei";
    float: left;
    margin-right: 5px;
    line-height: 24px;
    color: #666; }
    .crumbs a:hover {
      color: #C81623; }
  .crumbs span {
    float: left;
    font-size: 14px;
    color: #666;
    line-height: 24px; }
  .crumbs .trigger {
    float: left;
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    border: 1px solid #ddd;
    line-height: 22px;
    vertical-align: top;
    cursor: pointer;
    margin-left: 10px;
    position: relative; }
    .crumbs .trigger:hover {
      border: 1px solid #E4393C;
      border-bottom: 1px solid transparent; }
      .crumbs .trigger:hover .aa {
        display: none; }
      .crumbs .trigger:hover .bb {
        display: block; }
      .crumbs .trigger:hover .none {
        display: block; }
    .crumbs .trigger .aa {
      font-family: "iconfont" !important;
      font-size: 17px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
      line-height: 30px;
      margin-left: 5px;
      float: left;
      line-height: 24px; }
    .crumbs .trigger .bb {
      font-family: "iconfont" !important;
      font-size: 17px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
      line-height: 30px;
      margin-left: 5px;
      display: none;
      float: right;
      line-height: 24px; }
    .crumbs .trigger .none {
      display: none;
      width: 360px;
      height: 50px;
      border: 1px solid #E4393C;
      position: absolute;
      top: 23px;
      left: -1px;
      margin: auto;
      background: #fff; }
      .crumbs .trigger .none .zhezhao {
        width: 98px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: -2px;
        left: 0; }
      .crumbs .trigger .none .zezhao {
        width: 70px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: -2px;
        left: 0; }
      .crumbs .trigger .none .none-inner {
        width: 100%;
        height: 100%;
        line-height: 50px; }
        .crumbs .trigger .none .none-inner span {
          font-size: 14px;
          color: #666;
          line-height: 50px;
          padding-left: 10px; }
          .crumbs .trigger .none .none-inner span:hover {
            color: #C81623; }
  .crumbs .span {
    float: left;
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-left: 5px; }

.s-title {
  width: 1200px;
  height: 35px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #F1F1F1; }
  .s-title h3 {
    line-height: 35px;
    float: left;
    padding-left: 10px;
    font-size: 1.17em; }
    .s-title h3 b {
      color: #e4393c;
      font-weight: bold; }
    .s-title h3 em {
      font-style: normal; }
  .s-title .text {
    float: left;
    padding-left: 20px;
    display: block;
    line-height: 35px;
    font-size: 12px;
    color: #666; }

.brand {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px; }
  .brand .baran-text {
    width: 118px;
    height: 99px;
    float: left;
    line-height: 30px; }
    .brand .baran-text span {
      font: 12px/150% Arial,Verdana,"\5b8b\4f53";
      color: #666; }
  .brand .list {
    float: left;
    width: 928px;
    height: 99px;
    padding-top: 10px;
    margin-bottom: 10px;
    overflow: hidden; }
    .brand .list li {
      cursor: pointer;
      box-sizing: border-box;
      float: left;
      width: 116px;
      height: 48px;
      padding: 0;
      border: 1px solid #DDD;
      margin: -1px -1px 0 0;
      background: #FFF;
      text-align: center;
      position: relative;
      font-size: 0; }
      .brand .list li:hover {
        border: 1px solid transparent; }
        .brand .list li:hover div {
          border: 2px solid #E4393C; }
        .brand .list li:hover img {
          display: none; }
        .brand .list li:hover span {
          display: block; }
      .brand .list li div {
        width: 110px;
        height: 42px;
        border: 2px solid transparent; }
        .brand .list li div img {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto; }
        .brand .list li div span {
          text-align: center;
          line-height: 48px;
          color: #E4393C;
          font-size: 15px;
          display: none; }
    .brand .list li.hover {
      border: 1px solid transparent; }
      .brand .list li.hover div {
        border: 2px solid  #E4393C; }
  .brand .thats {
    display: none;
    float: left;
    width: 928px;
    height: 99px;
    padding-top: 10px;
    margin-bottom: 10px;
    overflow: hidden; }
    .brand .thats li {
      cursor: pointer;
      box-sizing: border-box;
      float: left;
      width: 116px;
      height: 48px;
      padding: 0;
      border: 1px solid #DDD;
      margin: -1px -1px 0 0;
      background: #FFF;
      text-align: center;
      position: relative;
      font-size: 0; }
      .brand .thats li:hover {
        border: 1px solid transparent; }
        .brand .thats li:hover div {
          border: 2px solid #E4393C; }
        .brand .thats li:hover img {
          display: none; }
        .brand .thats li:hover span {
          display: block; }
      .brand .thats li div {
        width: 110px;
        height: 42px;
        border: 2px solid transparent; }
        .brand .thats li div img {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto; }
        .brand .thats li div span {
          text-align: center;
          line-height: 48px;
          color: #E4393C;
          font-size: 15px;
          display: none; }
    .brand .thats li.hover {
      border: 1px solid transparent; }
      .brand .thats li.hover div {
        border: 2px solid  #E4393C; }
  .brand .button {
    float: right;
    width: 140px;
    height: 99px;
    margin-top: 10px; }
    .brand .button .gengduo {
      cursor: pointer; }
      .brand .button .gengduo:hover span {
        color: #E4393C; }
      .brand .button .gengduo:hover .gengduo-icon {
        border: 1px solid #E4393C; }
      .brand .button .gengduo:hover .gengduo-icon .aa {
        animation: xia .4s ease;
        color: #E4393C; }
      .brand .button .gengduo span {
        float: left;
        color: #333;
        font-size: 13px;
        line-height: 30px; }
      .brand .button .gengduo .gengduo-icon {
        overflow: hidden;
        width: 22px;
        height: 22px;
        float: left;
        border: 1px solid #ddd;
        margin-left: 5px;
        text-align: center; }
        .brand .button .gengduo .gengduo-icon .aa {
          display: block;
          width: 100%;
          height: 100%;
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px;
          line-height: 22px; }

@keyframes xia {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(15px); }
  100% {
    transform: translateY(0); } }
    .brand .button .duoxuan {
      cursor: pointer;
      width: 40px;
      height: 22px;
      float: left;
      border: 1px solid #E1E1E1;
      background: #F8F8F8;
      margin-left: 20px;
      padding: 0 5px;
      overflow: hidden; }
      .brand .button .duoxuan:hover .jia {
        color: #E4393C;
        animation: shang .4s ease; }
      .brand .button .duoxuan:hover span {
        color: #E4393C; }
      .brand .button .duoxuan .jia {
        width: 16px;
        height: 22px;
        float: left;
        font-size: 22px;
        text-align: center;
        line-height: 22px; }
      .brand .button .duoxuan span {
        float: right;
        font-size: 12px;
        line-height: 22px; }

@keyframes shang {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(16px); }
  100% {
    transform: translateY(0); } }
    .brand .button .yes {
      display: none; }

.details {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px; }
  .details li {
    width: 100%;
    height: 34px; }
    .details li .title {
      width: 110px;
      height: 34px;
      float: left;
      padding: 0 10px;
      box-sizing: border-box;
      line-height: 37px; }
      .details li .title span {
        font-size: 13px;
        color: #666; }
    .details li ul {
      height: 34px;
      line-height: 34px;
      float: left; }
      .details li ul li {
        float: left;
        width: 100px;
        color: #005aa0;
        font-size: 12px;
        font-family: "微软雅黑"; }
    .details li .gengduo {
      float: left;
      cursor: pointer;
      margin-top: 5px;
      margin-left: 55px; }
      .details li .gengduo:hover span {
        color: #E4393C; }
      .details li .gengduo:hover .gengduo-icon {
        border: 1px solid #E4393C; }
      .details li .gengduo:hover .gengduo-icon .aa {
        animation: xia .4s ease;
        color: #E4393C; }
      .details li .gengduo span {
        float: left;
        color: #333;
        font-size: 13px;
        line-height: 30px; }
      .details li .gengduo .gengduo-icon {
        overflow: hidden;
        width: 22px;
        height: 22px;
        float: left;
        border: 1px solid #ddd;
        margin-left: 5px;
        text-align: center; }
        .details li .gengduo .gengduo-icon .aa {
          display: block;
          width: 100%;
          height: 100%;
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px;
          line-height: 22px; }

@keyframes xia {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(15px); }
  100% {
    transform: translateY(0); } }
    .details li .duoxuan {
      cursor: pointer;
      width: 40px;
      height: 22px;
      float: left;
      border: 1px solid #E1E1E1;
      background: #F8F8F8;
      float: right;
      margin-right: 10px;
      margin-top: 5px;
      overflow: hidden;
      padding: 0 6px; }
      .details li .duoxuan:hover .jia {
        color: #E4393C;
        animation: shang .4s ease; }
      .details li .duoxuan:hover span {
        color: #E4393C; }
      .details li .duoxuan .jia {
        width: 16px;
        height: 22px;
        float: left;
        font-size: 22px;
        text-align: center;
        line-height: 22px; }
      .details li .duoxuan span {
        float: right;
        font-size: 12px;
        line-height: 22px; }

@keyframes shang {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(16px); }
  100% {
    transform: translateY(0); } }
  .details .jiage {
    border-bottom: 1px solid #DDDDDD; }
    .details .jiage input {
      width: 42px;
      height: 21px;
      float: left;
      margin-left: 10px; }
    .details .jiage span {
      float: left;
      margin-left: 3px;
      color: #ccc; }
    .details .jiage button {
      margin-left: 10px;
      width: 46px;
      height: 23px;
      color: #666; }
  .details .wanluo {
    border-bottom: 1px solid #DDDDDD; }
  .details .chicun {
    border-bottom: 1px solid #ddd; }
  .details .deng-box {
    border-top: 1px solid #ddd; }
    .details .deng-box:hover {
      border-top: 1px solid #E4393C;
      cursor: pointer; }
      .details .deng-box:hover .deng {
        border: 1px solid #E4393C; }
        .details .deng-box:hover .deng span {
          color: #E4393C; }
        .details .deng-box:hover .deng .aa {
          color: #E4393C; }
    .details .deng-box .deng {
      width: 296px;
      height: 30px;
      margin: 0 auto;
      border: 1px solid #DDDDDD;
      position: relative;
      text-align: center; }
      .details .deng-box .deng .zhezhao {
        position: absolute;
        top: -3px;
        left: 0;
        width: 296px;
        height: 3px;
        background: #fff; }
      .details .deng-box .deng span {
        line-height: 30px;
        color: #666;
        font-size: 12px; }
      .details .deng-box .deng .aa {
        font-family: "iconfont" !important;
        font-size: 17px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        line-height: 30px; }

.content {
  width: 1200px;
  height: 1881px;
  margin: 0 auto;
  margin-top: 15px; }
  .content .ad {
    width: 210px;
    height: auto;
    border: 1px solid #ddd;
    float: left; }
  .content .content-box {
    float: right;
    width: 975px;
    height: auto; }
    .content .content-box .content-top-one {
      width: 959px;
      height: 25px;
      background: #F1F1F1;
      padding: 6px 8px;
      border-bottom: 1px solid #E7E3E7;
      border-top: 1px solid #e7e3e7; }
      .content .content-box .content-top-one .one-left {
        float: left;
        height: 100%; }
        .content .content-box .content-top-one .one-left li {
          height: 100%;
          line-height: 25px;
          float: left;
          background: #fff;
          border: 1px solid #ccc;
          border-left: 1px solid transparent;
          padding: 0 5px;
          color: #333;
          font-size: 12px; }
        .content .content-box .content-top-one .one-left li.red {
          background: #E4393C;
          color: #ffffff; }
      .content .content-box .content-top-one .one-right {
        float: right;
        padding: 0 10px;
        line-height: 25px; }
        .content .content-box .content-top-one .one-right .tite {
          padding: 0 10px;
          float: left;
          color: #666;
          font-size: 12px; }
          .content .content-box .content-top-one .one-right .tite a {
            color: #E4393C; }
        .content .content-box .content-top-one .one-right .left {
          cursor: pointer;
          float: left;
          width: 48px;
          height: 25px;
          background: #F1F1F1;
          border: 1px solid #ddd;
          color: #ccc;
          text-align: center;
          line-height: 25px; }
        .content .content-box .content-top-one .one-right .right {
          cursor: pointer;
          float: left;
          width: 48px;
          height: 25px;
          border: 1px solid #ddd;
          border-left: 1px solid transparent;
          color: #AAA;
          text-align: center;
          line-height: 25px;
          background: #fff; }
    .content .content-box .content-top-two {
      width: 959px;
      height: 30px;
      padding: 6px 8px;
      border-bottom: 1px solid #E7E3E7;
      background: #F9F9F9;
      zoom: 1; }
      .content .content-box .content-top-two .tite {
        float: left;
        color: #999;
        line-height: 25px;
        margin-right: 5px;
        font-size: 12px; }
      .content .content-box .content-top-two .address {
        float: left;
        width: 126px;
        height: 25px;
        border: 1px solid #CCCCCC;
        font-size: 12px;
        text-align: center;
        color: #333; }
        .content .content-box .content-top-two .address span {
          float: left;
          margin-left: 4px;
          line-height: 25px; }
        .content .content-box .content-top-two .address .aa {
          float: left;
          font-size: 30px;
          line-height: 25px;
          font-family: "iconfont" !important;
          font-size: 17px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          line-height: 30px; }
      .content .content-box .content-top-two ul {
        float: left; }
        .content .content-box .content-top-two ul li {
          float: left;
          padding: 0 10px; }
          .content .content-box .content-top-two ul li:hover .cheak {
            border: 1px solid #E4393C; }
          .content .content-box .content-top-two ul li:hover .span {
            color: #E4393C; }
          .content .content-box .content-top-two ul li .cheak {
            float: left;
            width: 14px;
            height: 14px;
            border: 1px solid #cccccc;
            margin-top: 5px; }
          .content .content-box .content-top-two ul li .span {
            float: left;
            font-size: 12px;
            color: #333;
            line-height: 25px;
            padding: 0 5px; }
    .content .content-box .content-inner {
      width: 100%;
      height: 1165px;
      margin-top: 20px; }
      .content .content-box .content-inner li {
        width: 240px;
        height: 430px;
        float: left;
        margin-top: 10px;
        border: 1px solid transparent; }
        .content .content-box .content-inner li:hover {
          border: 1px solid #EFEFEF;
          box-shadow: #f8f8f8 0px 0px 2px 2px; }
        .content .content-box .content-inner li img {
          margin-top: 10px; }
        .content .content-box .content-inner li .min-img {
          width: 25px;
          height: 25px;
          border: 2px solid #E4393C;
          margin-left: 10px;
          position: relative; }
          .content .content-box .content-inner li .min-img img {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto; }
        .content .content-box .content-inner li span {
          display: block;
          font-style: normal;
          color: #e4393c;
          font-size: 20px;
          font-weight: 400;
          font-family: Verdana;
          text-align: -webkit-match-parent;
          line-height: 22px;
          margin-left: 10px;
          margin-top: 5px; }
        .content .content-box .content-inner li em {
          height: 20px;
          display: block;
          line-height: 20px;
          overflow: hidden;
          font-style: normal;
          color: #666;
          word-wrap: break-word;
          font-size: 13px;
          margin-left: 10px; }
        .content .content-box .content-inner li .chicun {
          width: 100%;
          height: 25px;
          position: relative;
          cursor: pointer; }
          .content .content-box .content-inner li .chicun img {
            position: absolute;
            top: 0;
            left: 10px;
            bottom: 0;
            margin: auto; }
        .content .content-box .content-inner li strong {
          color: #a7a7a7;
          font-weight: 400;
          font-size: 12px;
          margin-left: 10px; }
          .content .content-box .content-inner li strong a {
            color: #005aa0;
            font-family: verdana;
            font-weight: 700;
            text-decoration: none;
            font-size: 12px; }
        .content .content-box .content-inner li .shop {
          width: 100%;
          height: 28px;
          padding: 5px 10px;
          box-sizing: border-box;
          position: relative; }
          .content .content-box .content-inner li .shop a {
            color: #666;
            cursor: auto;
            line-height: 18px;
            font-size: 12px;
            float: left;
            padding-right: 5px; }
          .content .content-box .content-inner li .shop em {
            width: 54px;
            height: 18px;
            background: #E4393C;
            color: #fff;
            text-align: center;
            line-height: 18px;
            border-radius: 3px;
            float: left; }
          .content .content-box .content-inner li .shop img {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 50px;
            margin: auto; }
        .content .content-box .content-inner li .qianbao {
          width: 100px;
          height: 30px;
          position: relative; }
          .content .content-box .content-inner li .qianbao img {
            position: absolute;
            top: 0;
            left: 10px;
            margin: auto; }

.footer-one {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 30px 0; }

.footer {
  width: 100%;
  height: auto; }
  .footer .footer-new {
    width: 1200px;
    height: 115px;
    background: url(../img/2Q==.jpg);
    margin: 0 auto; }
  .footer .logen {
    width: 100%;
    height: 94px;
    background: #F5F5F5;
    margin-top: 10px; }
    .footer .logen .logen-inner {
      width: 1200px;
      height: 100%;
      margin: 0 auto;
      position: relative; }
      .footer .logen .logen-inner li {
        width: 220px;
        height: 54px;
        float: left;
        padding: 0 40px;
        margin-top: 20px; }
      .footer .logen .logen-inner li:nth-child(1) {
        background: url(../img/1.png) no-repeat; }
      .footer .logen .logen-inner li:nth-child(2) {
        background: url(../img/2.png) no-repeat; }
      .footer .logen .logen-inner li:nth-child(3) {
        background: url(../img/3.png) no-repeat; }
      .footer .logen .logen-inner li:nth-child(4) {
        background: url(../img/4.png) no-repeat; }
  .footer .serve {
    width: 1200px;
    height: 156px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E5E5; }
    .footer .serve dl {
      width: 275px;
      float: left;
      font: 12px/150% Arial,Verdana,"\5b8b\4f53";
      color: #666; }
      .footer .serve dl dt {
        padding: 6px 0;
        font-size: 15px;
        font-weight: bold;
        color: #666; }
      .footer .serve dl dd {
        color: #666;
        font-size: 12px;
        line-height: 20px; }
        .footer .serve dl dd a {
          color: #666; }
          .footer .serve dl dd a:hover {
            color: #C81623; }
    .footer .serve dl.fore5 {
      width: 100px;
      float: right; }
  .footer .link {
    padding: 23px 0;
    width: 1200px;
    height: 10px;
    margin: 0 auto;
    text-align: center;
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666; }
    .footer .link a {
      margin: 0 10px;
      color: #666;
      text-align: center;
      font: 12px/150% Arial,Verdana,"\5b8b\4f53"; }
      .footer .link a:hover {
        color: #C81623; }
  .footer .copyright {
    width: 1200px;
    height: 72px;
    margin: 0 auto; }
    .footer .copyright p {
      text-align: center;
      color: #666;
      font: 12px/150% Arial,Verdana,"\5b8b\4f53";
      padding: 2px 0; }
  .footer .footer-img {
    width: 1200px;
    height: 32px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center; }
  .footer .footer-kong {
    width: 100%;
    height: 30px; }
